/* Register Page CSS */
.form{
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px #66fcf1;
  width: 50%;
  margin-left: 53vh;
  margin-top: 43px;
  padding: 5px;
  /* color: white;s */
  padding-bottom: 15px;
}
h1{
  color: white;
  margin-left: 60vh;
  margin-top: 10px;
}